<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" id="WebApp_ID">
	<display-name>TeamProject</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Joinservice</display-name>
		<servlet-name>Joinservice</servlet-name>
		<servlet-class>Project_Controller.Joinservice</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginService</display-name>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>Project_Controller.LoginService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PasswordFind</display-name>
		<servlet-name>PasswordFind</servlet-name>
		<servlet-class>Project_Controller.PasswordFind</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteMemSer</display-name>
		<servlet-name>DeleteMemSer</servlet-name>
		<servlet-class>Project_Controller.DeleteMemSer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutSer</display-name>
		<servlet-name>LogoutSer</servlet-name>
		<servlet-class>Project_Controller.LogoutSer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>IdCheckSer</display-name>
		<servlet-name>IdCheckSer</servlet-name>
		<servlet-class>Project_Controller.IdCheckSer</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Joinservice</servlet-name>
		<url-pattern>/Joinservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/LoginService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PasswordFind</servlet-name>
		<url-pattern>/PasswordFind</url-pattern>
	</servlet-mapping>

	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
